header {
    background-color: rgb(61, 105, 250);
    color: aliceblue;
    padding-bottom: 10px;
    margin-bottom: 48px;
}

.form-label {
    margin-top: 12px;
    font-weight: bold;
}

.btn {
    margin-top: 48px;

}